@media screen and(max-width: 480px) {
  nav {
    padding: 1.5rem 0 1rem 0;

    .nav-item-container {
      .logo-image {
        img {
          width: 7rem;
        }

        transform: translateY(0rem);
      }

      .nav-item-list {
        display: none;
      }
    }
  }

  header {
    padding: 7rem 0 3rem 0;
    margin: 0 auto;
    width: 94%;

    h1 {
      font-size: 1.7em;

      img {
        width: 2.7rem;
      }
    }

    p {
      margin-top: 2rem;
    }

    .row-btn {
      @include flexItem(row, flex-start);
      align-items: center;
      margin-top: 2rem;
      button {
        padding: 0.7rem 1.4rem;
        background-color: #4aae8c;
        color: $white;
        border-radius: 0.4rem;
        font-size: 0.85em;

        border: 0.1rem solid #4aae8c;

        &:last-child {
          margin-left: 1rem;
          background-color: $white;
          color: $black;
          border: 0.1rem solid #505780;
          font-weight: bold;
        }
      }
    }

    .hero-animation {
      margin-top: 2rem;
      padding: 4rem;
     

      .outer-circle {
        position: relative;
        width: 250px;
        height: 250px;
        background-color: $white;
        border: 0.5px solid #a6b7d4;
        border-radius: 50%;

        .inner-circle {
          width: 150px;
          height: 150px;
          transform: translate(20%, 20%);
          background-color: rgba(140, 223, 179, 1);
          border: 0.5px solid rgba(140, 223, 179, 1);
          border-radius: 50%;

          .circle {
            width: 100px;
            height: 100px;
            transform: translate(34%, 33%);
            background-color: $white;
            border: 0.5px solid $white;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .popular-category {
    padding: 3rem 0;
    h1 {
      font-size: 1.6em;
      font-weight: bolder;
      margin-bottom: 3rem;
    }

    .popular-card {
      h3 {
        font-size: 1.3em;
      }
    }
  }

  .how-we-work {
    padding: 3rem 0;
    h1 {
      font-size: 1.6em;

      margin-bottom: 1.5rem;
    }

    img {
      border-radius: 1rem;
    }

    .work-flow {
      margin: 1rem 0;
      .instruction {
        h4,
        h5 {
          font-weight: bold;
        }
        p {
          line-height: 1.33rem;
          font-size: 0.83em;
        }
      }
    }
  }

  .featured-jobs {
    padding: 3rem 0;

    h1 {
      font-size: 1.6em;
      margin-bottom: 1.5rem;
    }

    .jobs-card {
      padding: 1.5rem;

      margin: 0.8rem 0;

      .list-item {
        .item {
          font-size: 0.8em;
        }
      }

      p {
        margin: 1.4rem 0;

        font-size: 0.85em;

        /**Major Properties**/
        overflow: hidden;
        line-height: 1.38rem;
        max-height: 8em;
        // background-color: red;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
      }

      .location {
        img {
          width: 0.9rem;
        }

        .option {
          margin-left: 0.4rem;
          font-size: 0.8em;
        }

        .option:last-child {
          span {
            display: none;
          }
        }
      }

      .date-bid {
        .date {
          font-size: 0.83em;
        }

        .bid {
          padding: 0.5rem 1rem;

          font-size: 0.83em;
        }
      }
    }
  }

  .get-started {
    padding: 3rem 0;

    h1 {
      font-size: 1.6em;
      margin-bottom: 1.5rem;
    }
  }

  .subscribe {
    padding: 3rem 0;

    .subscribe-border {
      width: 90%;
      margin: 0 auto;
      padding: 2rem 1rem;

      h2 {
        width: 96%;
        margin: 0 auto 2rem auto;

        font-size: 1.2em;
      }

      .form-box {
        margin: 0 auto;
        width: 94%;

        input {
          &::placeholder {
            font-size: 0.85em;
          }
        }

        button {
          margin-top: 1.3rem;
          padding: 0.5rem 1.2rem;

          font-size: 0.83em;

          border: none;
        }
      }
    }
  }

  .login-page {
    padding: 4rem 0;
    .form {
      width: 100%;

      form {
        width: 90%;
        margin: 0 auto;

        h1 {
          margin-bottom: 2rem;
        }

        button {
          font-size: 0.8em;
        }

        div {
          .divider {
            width: 35%;
            height: 1px;
            background-color: #f5f4f7;
          }

          .or {
            margin: 2rem 0;
            color: #979da4;
            font-size: 0.89em;
          }
        }

        .multiple-sign-in {
          .google-sign-in {
            padding: 0.8rem 0.7rem;
            font-size: 0.8em;

            img {
              margin-right: 0.3rem;
            }
          }

          .apple-sign-in {
            padding: 0.8rem 0.7rem;
            font-size: 0.8em;

            img {
              margin-right: 0.3rem;
            }
          }
        }

        .get-started {
          margin-top: 2rem;
          @include flexItem(row, flex-start);
          align-items: center;
          color: #979da4;

          a {
            margin-left: 1rem;
            color: #4272ac;
            text-decoration: none;
          }
        }
      }
    }

    .image {
      display: none;
    }
  }

  .footer-bg {
    padding: 3rem 0;

    footer {
      .footer-logo {
        img {
          width: 8rem;
        }
      }
      .description {
        margin-top: 1rem;
        margin-bottom: 1.4rem;
        font-size: 0.85em;
      }

      h4 {
        font-size: 1.1em;

        margin-top: 2rem;
      }
      .footer-link {
        display: block;
        margin: 0.7rem 0;
        font-size: 0.85em;
      }

      .social-media {
        margin-top: 2rem;

        img {
          width: 1.5rem;
        }
      }
    }
  }
}
