@media screen and(max-width: 768px) {
  header {
    padding: 7rem 0 4rem 0;
    margin: 0 auto;
    width: 88%;

    .hero-row {
      @include flexItem(row, space-between);
      align-items: center;

      .intro {
        width: 100%;

        h1 {
          font-size: 2.2em;
        }

        p {
          margin-top: 2rem;
        }

        .row-btn {
          @include flexItem(row, flex-start);
          align-items: center;
          margin-top: 2rem;
          button {
            padding: 0.7rem 1.4rem;

            font-size: 0.85em;

            &:last-child {
              margin-left: 1rem;
            }
          }
        }
      }

      .eclipse {
        width: 100%;
        overflow: hidden;

        .hero-animation {
          overflow: hiddden;
          animation: rotate 10s linear infinite;
          position: relative;

          background-image: url("@/assets/icons/eclipse.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 80%;
          height: 22rem;
          margin: 4rem auto;

          img {
            width: 3rem;
            height: 3rem;

            animation: anti-rotate 10s linear infinite;
          }

          .place-holder-01 {
            position: absolute;
            top: 5%;
            left: 22%;
          }

          .place-holder-02 {
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 0;
            left: 60%;
          }

          .place-holder-03 {
            width: 2rem;
            height: 2rem;
            position: absolute;
            bottom: 40%;
            right: 5%;
          }

          .place-holder-04 {
            width: 2rem;
            height: 2rem;
            position: absolute;
            bottom: 3%;
            right: 40%;
          }

          .place-holder-05 {
            position: absolute;
            bottom: 15%;
            left: 15%;
          }
        }
      }
    }
  }

  .popular-category {
    padding: 4rem 0;
    h1 {
      font-size: 1.6em;
      font-weight: bolder;
      margin-bottom: 3rem;
    }

    .popular-card {
      h3 {
        font-size: 1.3em;
      }
    }
  }

  .image-container {
    width: 94%;

    margin: 2rem auto;
    padding: 3rem 0;

    @include flexItem(row, space-between);

    .image-container-one,
    .image-container-two {
      position: relative;
      margin: 1rem 0;

      .text-content {
        position: absolute;
        left: 0;
        bottom: 8%;
        padding: 0 1.4rem;
      }
    }

    .image-container-one {
      width: 100%;
      height: 30rem;
    }

    .image-container-two {
      width: 100%;
      height: 30rem;
    }
  }

  .how-we-work {
    padding: 3rem 0;
    h1 {
      font-size: 1.6em;

      margin-bottom: 1.5rem;
    }

    img {
      border-radius: 1rem;
    }

    .work-flow {
      margin: 1rem 0;
      .instruction {
        h4,
        h5 {
          font-weight: bold;
        }
        p {
          line-height: 1.33rem;
          font-size: 0.83em;
        }
      }
    }
  }

  .featured-jobs {
    padding: 3rem 0;

    h1 {
      font-size: 1.6em;
      margin-bottom: 1.5rem;
    }

    .jobs-card {
      padding: 1.5rem;

      margin: 0.8rem 0;

      .list-item {
        .item {
          font-size: 0.85em;
        }
      }

      p {
        margin: 1.4rem 0;

        font-size: 0.85em;

        /**Major Properties**/
        overflow: hidden;
        line-height: 1.38rem;
        max-height: 8em;
        // background-color: red;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
      }

      .location {
        img {
          width: 0.9rem;
        }

        .option {
          margin-left: 0.4rem;
          font-size: 0.85em;
        }

        .option:last-child {
          span {
            display: none;
          }
        }
      }

      .date-bid {
        .date {
          font-size: 0.83em;
        }

        .bid {
          padding: 0.5rem 1rem;

          font-size: 0.83em;
        }
      }
    }
  }

  .get-started {
    padding: 3rem 0;

    h1 {
      font-size: 1.6em;
      margin-bottom: 1.5rem;
    }
  }

  .bg-container {
    width: 94%;
    height: 27rem;
    margin: 0 auto;
    padding: 2rem 0;

    .bg {
      background-image: url("@/assets/images/bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      position: relative;

      h2 {
        position: absolute;
        top: 50%;
        left: 0%;
        width: 100%;

        transform: translate(0%, -50%);
        font-size: 1.23em;
        padding: 0 1rem;
      }
    }
  }

  .connect-talent {
    padding: 3rem 0;

    margin: 0 auto;
    width: 94%;

    .connect-row {
      .right-talent {
        width: 100%;

        h1 {
          font-size: 1.6em;
        }

        p {
          margin-top: 2rem;
          font-size: 1em;
        }
      }

      .cards {
        margin-top: 2rem;
        width: 100%;
        .talent-card {
          h4 {
            font-size: 1.1em;
          }

          p {
            font-size: 1em;
          }
        }
      }
    }
  }

  .register-section {
    padding: 3rem 0;
    width: 94%;

    margin: 0 auto;

    .register-bg {
      background-image: url("@/assets/icons/reg-get-started.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 15rem;
      border-radius: 0.6rem;
      @include flexItem(row, space-between);
      align-items: center;

      .row-item {
        @include flexItem(row, space-between);
        align-items: center;
        width: 90%;
        margin: 0 auto;

        h2 {
          width: 100%;
          font-size: 1.8em;
        }

        .input-box {
          margin: 1.7rem auto;
          width: 100%;
          
        }
      }
    }
  }

  .subscribe {
    padding: 3rem 0;

    .subscribe-border {
      width: 87%;
      margin: 0 auto;
      padding: 2.7rem 1rem;

      h2 {
        width: 70%;
        margin: 0 auto 2rem auto;

        font-size: 1.2em;
      }

      .form-box {
        margin: 0 auto;
        width: 80%;

        input {
          &::placeholder {
            font-size: 0.85em;
          }
        }

        button {
          margin-top: 1.3rem;
          padding: 0.5rem 1.2rem;

          font-size: 0.83em;

          border: none;
        }
      }
    }
  }

  .footer-bg {
    padding: 3rem 0;

    footer {
      padding: 1rem 0 3rem 0;

      .newsletter-subscribe {
        margin-top: 2.6rem;

        transform: translateY(0rem);

        h4 {
          font-size: 1.3em;
        }

        .input-box {
          @include flexItem(row, flex-start);
          align-items: center;
          margin: 1rem 0;

          input {
            padding: 0.3rem 0.5rem;
            border: none;
            width: 85%;
          }

          button {
             padding: 0.3rem 0;
            border: none;
            width: 15%;
          }
        }
      }

      .footer-link {
        display: block;
        margin: 0.7rem 0;

       

        text-decoration: none;
      }
    }
    .social-media {
      margin-top: 3.6rem;
 

      @include flexItem(column, center);
      align-items: center;
      .start {
        @include flexItem(row, center);
        a {
          margin-right: 2rem;
          margin-bottom: 1rem;
         
          text-decoration: none;
        }
      }

      .end {
        @include flexItem(row, center);
        margin-top: 2rem;
        a {
          margin: 0 1rem;
        }
      }
    }
  }
}
