@media screen and (max-width: 1200px) {
  .bg-container {
    width: 87%;
    height: 100vh;
    margin: 0 auto;

    .bg {
      background-image: url("@/assets/images/bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 100%;
      position: relative;

      h1 {
        position: absolute;
        top: 22%;
        left: 5%;
        width: 66%;
      }

      .job-search {
        @include flexItem(row, space-between);
        padding: 0 2rem;

        position: absolute;
        bottom: 22%;
        left: 0;

        .job-card {
          width: 32%;
          padding: 1rem;
          background-color: #1a1a1a;
          border-radius: 12px;

          p {
            margin: 1.5rem 0;
          }
        }
      }
    }
  }
  .login-page {
    .form {
      width: 50%;

      form {
        width: 86%;
        margin: 0 auto;

        h1 {
          margin-bottom: 2rem;
        }

        .forgot-password {
          margin-top: 1rem;
        }

        div {
          .divider {
            width: 35%;
            height: 1px;
          }

          .or {
            margin: 2rem 0;
          }
        }

        .get-started {
          margin-top: 2rem;
        }
      }
    }

    .image {
      width: 50%;
      height: 100vh;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
