@media screen and (max-width: 1200px) {
  .login-page {
    .form {
      width: 50%;

      form {
        width: 86%;
        margin: 0 auto;

        h1 {
          margin-bottom: 2rem;
        }

        .forgot-password {
          margin-top: 1rem;
        }

        div {
          .divider {
            width: 35%;
            height: 1px;
          }

          .or {
            margin: 2rem 0;
          }
        }

        .get-started {
          margin-top: 2rem;
        }
      }
    }

    .image {
      width: 50%;
      height: 100vh;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
