/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- Css Reset
- Colors
- Mixins
- Font
- General Styles
- Services
- About Us
- Latest News
- Our Approach
- Contact Us
- Contact Page
- Footer
- Media Queries
******************************************/

/*****************************************

******************************************/

/**********************/
/*     Font    */
/**********************/

@import "fonts";

/**************************/
/*        Css Reset       */
/**************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

  font-family: $GT-America;
  list-style: none;

  // a {
  //   color: #000;
  //   // text-decoration: none;

  //   &:hover {
  //     text-decoration: none;
  //     color: #000;
  //   }
  // }
}

/**********************/
/*       Colors       */
/**********************/
@import "colors";

/**********************/
/*       Mixins       */
/**********************/
@import "mixins";

/**********************/
/*   General Styles   */
/**********************/

nav {
  padding: 2rem 0 1rem 0;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 26px;
  .nav-item-container {
    width: 87%;
    margin: 0 auto;

    @include flexItem(row, space-between);

    .nav-item-list {
      transform: translateY(0.7rem);

      @include flexItem(row, space-between);

      .nav-item {
        .nav-link {
          font-size: 1.06em;
          color: $heading-color;
          cursor: pointer;

          margin-left: 3rem;
        }
      }
      .nav-item:nth-of-type(4) {
        transform: translateY(-0.7rem);
        .nav-link {
          color: $heading-color;
          cursor: pointer;

          background-color: #e4ecf7;
          padding: 0.5rem 1.4rem;
          border-radius: 0.3rem;

          @include flexItem(row, space-between);
          align-items: center;

          span {
            margin-right: 0.5rem;
          }
        }
      }
    }

    .menu-btn {
      display: none;
    }
  }
}

header {
  padding: 2.6rem 0;
  margin: 0 auto;
  width: 85%;

  .hero-row {
    @include flexItem(row, space-between);
    align-items: center;

    .intro {
      width: 45%;

      h1 {
        font-size: 2.6em;
        font-weight: bolder;
      }

      p {
        margin-top: 2rem;
        font-size: 1.1em;
      }

      .row-btn {
        @include flexItem(row, flex-start);
        align-items: center;
        margin-top: 2rem;
        button {
          padding: 0.7rem 1.4rem;
          background-color: #4aae8c;
          color: $white;
          border-radius: 0.4rem;
          font-size: 0.85em;

          border: 0.1rem solid #4aae8c;

          &:last-child {
            margin-left: 1rem;
            background-color: $white;
            color: $black;
            border: 0.1rem solid #505780;
            font-weight: bold;
          }
        }
      }
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes anti-rotate {
      0% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    .eclipse {
      width: 50%;
      overflow: hidden;

      .hero-animation {
        overflow: hiddden;
        animation: rotate 10s linear infinite;
        position: relative;

        background-image: url("@/assets/icons/eclipse.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 80%;
        height: 22rem;
        margin: 4rem auto;

        img {
          width: 4rem;
          height: 4rem;
          // border-radius: 50%;
          animation: anti-rotate 10s linear infinite;
        }

        .place-holder-01 {
          position: absolute;
          top: 5%;
          left: 22%;
        }

        .place-holder-02 {
          width: 3rem;
          height: 3rem;
          position: absolute;
          top: 0;
          left: 60%;
        }

        .place-holder-03 {
          width: 3rem;
          height: 3rem;
          position: absolute;
          bottom: 40%;
          right: 5%;
        }

        .place-holder-04 {
          width: 3rem;
          height: 3rem;
          position: absolute;
          bottom: 3%;
          right: 40%;
        }

        .place-holder-05 {
          position: absolute;
          bottom: 15%;
          left: 15%;
        }
      }
    }
  }
}

.popular-category {
  padding: 7rem 0;
  h1 {
    font-size: 3.2em;
    font-weight: bolder;
    margin-bottom: 3rem;
  }

  .popular-card {
    margin: 0.7rem 0;
    padding: 2rem;
    background: #f7f9fc;
    border-radius: 1rem;

    h3 {
      margin-top: 2rem;
      font-weight: bold;
    }
  }
}

.how-we-work {
  padding: 7rem 0;
  h1 {
    font-size: 3.2em;
    font-weight: bolder;
    margin-bottom: 3rem;
  }

  img {
    border-radius: 1rem;
  }

  .work-flow {
    margin: 1.4rem 0;
    .instruction {
      h4,
      h5 {
        font-weight: bold;
      }
      p {
        line-height: 1.33rem;
        font-size: 0.86em;
      }
    }
  }
}

.featured-jobs {
  padding: 7rem 0;

  h1 {
    font-size: 3.2em;
    font-weight: bolder;
    margin-bottom: 2rem;
  }

  .jobs-card {
    padding: 1.8rem;
    background-color: $white;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 40px;
    border-radius: 0.6rem;
    margin: 0.8rem 0;

    .list-item {
      @include flexItem(row, flex-start);

      .item {
        @include flexItem(row, flex-start);
        align-items: center;
        margin-right: 0.6rem;
        margin-bottom: 0.6rem;
        padding: 0.55rem 0.8rem;
        background-color: #e4edfc;
        border-radius: 2rem;

        font-size: 0.85em;

        .icon {
          background-image: url("@/assets/icons/cancel-green.svg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 1rem;
          height: 1rem;
          margin-left: 0.5rem;
        }
      }

      .item:nth-child(even) {
        background: rgba(255, 173, 186, 0.5);

        .icon {
          background-image: url("@/assets/icons/cancel-red.svg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 1rem;
          height: 1rem;
          margin-left: 0.5rem;
        }
      }
    }

    p {
      margin: 2rem 0;
      width: 100%;

      font-size: 0.94em;

      /**Major Properties**/
      overflow: hidden;
      line-height: 1.38rem;
      max-height: 8em;
      // background-color: red;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden !important;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
    }

    .location {
      @include flexItem(row, flex-start);
      align-items: center;

      img {
        width: 1.2rem;
      }

      .option {
        margin-left: 0.4rem;
        font-size: 0.85em;
      }

      .option:last-child {
        span {
          display: none;
        }
      }
    }

    .divider {
      margin: 1.5rem 0 2rem 0;
      height: 0.12rem;
      width: 100%;
      background-color: #efefef;
    }

    .date-bid {
      @include flexItem(row, space-between);
      align-items: center;

      .date {
        font-size: 0.85em;
      }

      .bid {
        padding: 0.6rem 1.2rem;
        background-color: #4c6fff;
        color: $white;
        border-radius: 0.4rem;
        font-size: 0.85em;

        cursor: pointer;
      }
    }
  }
}

.get-started {
  padding: 5rem 0;
  background-color: #f7fafc;

  h1 {
    font-weight: bold;
  }

  p {
    margin-top: 2rem;
    font-size: 1.1em;
  }

  button {
    margin-top: 2rem;
    padding: 0.7rem 1.4rem;
    background-color: #4aae8c;
    color: $white;
    border-radius: 0.4rem;
    font-size: 0.85em;
    border: none;

    @include flexItem(row, space-between);
    align-items: center;

    img {
      margin-left: 0.7rem;
    }
  }
}

.connect-talent {
  padding: 5rem 0;

  margin: 0 auto;
  width: 85%;

  .connect-row {
    @include flexItem(row, space-between);
    align-items: center;

    .right-talent {
      width: 50%;

      h1 {
        font-weight: bold;
      }

      p {
        margin-top: 2rem;
        font-size: 1.1em;
      }

      button {
        margin-top: 2rem;
        padding: 0.7rem 1.4rem;
        background-color: #4aae8c;
        color: $white;
        border-radius: 0.4rem;
        font-size: 0.85em;
        border: none;

        @include flexItem(row, space-between);
        align-items: center;

        img {
          margin-left: 0.7rem;
        }
      }
    }

    .cards {
      width: 40%;
      .talent-card {
        margin: 1.5rem 0;
        padding: 1.3rem;
        box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1),
          0px 4px 20px -2px rgba(50, 50, 71, 0.08);
        border-radius: 8px;
        cursor: pointer;

        .row-item {
          @include flexItem(row, flex-start);
          align-items: center;

          img {
            margin-right: 1rem;
          }

          h4 {
            font-weight: bold;
          }
        }

        p {
          margin-top: 1rem;
          font-size: 1.06em;
        }
      }
    }
  }
}

.subscribe {
  padding: 4rem 0;

  .subscribe-border {
    width: 85%;
    margin: 0 auto;
    border: 0.1rem solid rgba(187, 101, 255, 1);

    border-radius: 1rem;
    padding: 3.7rem;

    h2 {
      width: 50%;
      margin: 0 auto 2rem auto;
      text-transform: uppercase;
      font-weight: bolder;
    }

    .form-box {
      margin: 0 auto;
      width: 50%;

      input {
        background: #edf2f7;

        padding: 0.6rem 1rem;
        width: 100%;
        border: none;
        border-radius: 0.3rem;

        &::placeholder {
          color: #7a828a;
          font-size: 0.88em;
        }
      }

      .btn-end {
        @include flexItem(row, flex-end);
        align-items: center;
      }

      button {
        margin-top: 1.5rem;
        padding: 0.7rem 1.4rem;
        background-color: #00cc52;
        color: $white;
        border-radius: 0.4rem;
        font-size: 0.85em;

        border: none;
        @include flexItem(row, flex-end);
        align-items: center;

        img {
          margin-left: 0.7rem;
        }
      }
    }
  }
}

.login-page {
  @include flexItem(row, space-between);
  align-items: center;

  .form {
    width: 50%;

    form {
      width: 60%;
      margin: 0 auto;

      h1 {
        margin-bottom: 2rem;
        font-weight: bolder;
      }

      input {
        background: #edf2f7;

        padding: 0.6rem 1rem;
        margin-top: 2rem;
        width: 100%;
        border: none;
        border-radius: 0.3rem;

        &::placeholder {
          color: #7a828a;
          font-size: 0.88em;
        }
      }

      .forgot-password {
        margin-top: 1rem;
        @include flexItem(row, flex-end);

        a {
          color: #315581;
          text-decoration: none;
        }
      }

      button {
        margin-top: 2.5rem;
        width: 100%;
        color: $white;
        text-transform: uppercase;
        background: #4272ac;
        box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.1),
          inset 0px -1px 0px rgba(14, 14, 44, 0.4);
        border-radius: 8px;
        padding: 0.6rem;
        border: none;
        font-size: 0.88em;
        letter-spacing: 1px;
        font-weight: bold;
      }

      div {
        @include flexItem(row, space-between);
        align-items: center;

        .divider {
          width: 35%;
          height: 1px;
          background-color: #f5f4f7;
        }

        .or {
          margin: 2rem 0;
          color: #979da4;
        }
      }

      .multiple-sign-in {
        @include flexItem(row, space-between);
        align-items: center;

        .google-sign-in {
          @include flexItem(row, space-between);

          align-items: center;

          border: 1px solid #eaeaea;
          border-radius: 8px;
          padding: 0.8rem 1.2rem;
          font-weight: bold;
          cursor: pointer;

          img {
            margin-right: 0.5rem;
          }
        }

        .apple-sign-in {
          @include flexItem(row, space-between);

          align-items: center;

          border: 1px solid #eaeaea;
          border-radius: 8px;
          padding: 0.8rem 1.2rem;
          background-color: $black;
          color: $white;
          cursor: pointer;

          img {
            margin-right: 0.5rem;
          }
        }
      }

      .new-to-ecojobz {
        margin-top: 2rem;
        @include flexItem(row, flex-start);
        align-items: center;
        color: #979da4;

        a {
          margin-left: 1rem;
          color: #4272ac;
          text-decoration: none;
        }
      }
    }
  }

  .image {
    width: 50%;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.footer-bg {
  padding: 4rem 0;
  background-color: $black;

  footer {
    .description {
      margin-top: 1rem;
      color: #e5e5e5;
      font-size: 0.9em;
    }

    h4 {
      font-size: 1.07em;

      color: $white;
    }
    .footer-link {
      display: block;
      margin: 0.7rem 0;
      font-size: 0.9em;

      color: #e5e5e5;

      text-decoration: none;
    }

    .social-media {
      margin-top: 2rem;

      img {
        width: 1.5rem;
      }
    }
  }
}

@import "xlg";
@import "lg";
@import "sm";
@import "mobile";
