/* Description: Master CSS file */
/*****************************************
Table Of Contents:
- Css Reset
- Colors
- Mixins
- Font
- General Styles
- Services
- About Us
- Latest News
- Our Approach
- Contact Us
- Contact Page
- Footer
- Media Queries
******************************************/
/*****************************************

******************************************/
/**********************/
/*     Font    */
/**********************/
@font-face {
  src: url("@/assets/fonts/GT-America-Regular.ttf") format("truetype");
  font-family: "GT-America";
}

@font-face {
  src: url("@/assets/fonts/GeneralSans-Regular.otf") format("truetype");
  font-family: "GeneralSans";
}

@font-face {
  src: url("@/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-family: "Poppins";
}

@font-face {
  src: url("@/assets/fonts/DMSans-Regular.ttf") format("truetype");
  font-family: "DmSans";
}

@font-face {
  src: url("@/assets/fonts/WorkSans-Regular.ttf") format("truetype");
  font-family: "WorkSans";
}

@font-face {
  src: url("/assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-family: "SpaceGrostesk";
}

/**************************/
/*        Css Reset       */
/**************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "GT-America";
  list-style: none;
}

/**********************/
/*       Colors       */
/**********************/
/**********************/
/*       Mixins       */
/**********************/
/**********************/
/*   General Styles   */
/**********************/
nav {
  padding: 2rem 0 1rem 0;
  -webkit-box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 26px;
          box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 26px;
}

nav .nav-item-container {
  width: 87%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav-item-container .nav-item-list {
  -webkit-transform: translateY(0.7rem);
          transform: translateY(0.7rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav-item-container .nav-item-list .nav-item .nav-link {
  font-size: 1.06em;
  color: #0A0A0A;
  cursor: pointer;
  margin-left: 3rem;
}

nav .nav-item-container .nav-item-list .nav-item:nth-of-type(4) {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

nav .nav-item-container .nav-item-list .nav-item:nth-of-type(4) .nav-link {
  color: #0A0A0A;
  cursor: pointer;
  background-color: #e4ecf7;
  padding: 0.5rem 1.4rem;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-item-container .nav-item-list .nav-item:nth-of-type(4) .nav-link span {
  margin-right: 0.5rem;
}

nav .nav-item-container .menu-btn {
  display: none;
}

header {
  padding: 2.6rem 0;
  margin: 0 auto;
  width: 85%;
}

header .hero-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hero-row .intro {
  width: 45%;
}

header .hero-row .intro h1 {
  font-size: 2.6em;
  font-weight: bolder;
}

header .hero-row .intro p {
  margin-top: 2rem;
  font-size: 1.1em;
}

header .hero-row .intro .row-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

header .hero-row .intro .row-btn button {
  padding: 0.7rem 1.4rem;
  background-color: #4aae8c;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 0.85em;
  border: 0.1rem solid #4aae8c;
}

header .hero-row .intro .row-btn button:last-child {
  margin-left: 1rem;
  background-color: #fff;
  color: #0B0706;
  border: 0.1rem solid #505780;
  font-weight: bold;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes anti-rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes anti-rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

header .hero-row .eclipse {
  width: 50%;
  overflow: hidden;
}

header .hero-row .eclipse .hero-animation {
  overflow: hiddden;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
  position: relative;
  background-image: url("@/assets/icons/eclipse.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  height: 22rem;
  margin: 4rem auto;
}

header .hero-row .eclipse .hero-animation img {
  width: 4rem;
  height: 4rem;
  -webkit-animation: anti-rotate 10s linear infinite;
          animation: anti-rotate 10s linear infinite;
}

header .hero-row .eclipse .hero-animation .place-holder-01 {
  position: absolute;
  top: 5%;
  left: 22%;
}

header .hero-row .eclipse .hero-animation .place-holder-02 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 60%;
}

header .hero-row .eclipse .hero-animation .place-holder-03 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 40%;
  right: 5%;
}

header .hero-row .eclipse .hero-animation .place-holder-04 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 3%;
  right: 40%;
}

header .hero-row .eclipse .hero-animation .place-holder-05 {
  position: absolute;
  bottom: 15%;
  left: 15%;
}

.popular-category {
  padding: 7rem 0;
}

.popular-category h1 {
  font-size: 3.2em;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.popular-category .popular-card {
  margin: 0.7rem 0;
  padding: 2rem;
  background: #f7f9fc;
  border-radius: 1rem;
}

.popular-category .popular-card h3 {
  margin-top: 2rem;
  font-weight: bold;
}

.how-we-work {
  padding: 7rem 0;
}

.how-we-work h1 {
  font-size: 3.2em;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.how-we-work img {
  border-radius: 1rem;
}

.how-we-work .work-flow {
  margin: 1.4rem 0;
}

.how-we-work .work-flow .instruction h4,
.how-we-work .work-flow .instruction h5 {
  font-weight: bold;
}

.how-we-work .work-flow .instruction p {
  line-height: 1.33rem;
  font-size: 0.86em;
}

.featured-jobs {
  padding: 7rem 0;
}

.featured-jobs h1 {
  font-size: 3.2em;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.featured-jobs .jobs-card {
  padding: 1.8rem;
  background-color: #fff;
  -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 40px;
          box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 40px;
  border-radius: 0.6rem;
  margin: 0.8rem 0;
}

.featured-jobs .jobs-card .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured-jobs .jobs-card .list-item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  padding: 0.55rem 0.8rem;
  background-color: #e4edfc;
  border-radius: 2rem;
  font-size: 0.85em;
}

.featured-jobs .jobs-card .list-item .item .icon {
  background-image: url("@/assets/icons/cancel-green.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.featured-jobs .jobs-card .list-item .item:nth-child(even) {
  background: rgba(255, 173, 186, 0.5);
}

.featured-jobs .jobs-card .list-item .item:nth-child(even) .icon {
  background-image: url("@/assets/icons/cancel-red.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.featured-jobs .jobs-card p {
  margin: 2rem 0;
  width: 100%;
  font-size: 0.94em;
  /**Major Properties**/
  overflow: hidden;
  line-height: 1.38rem;
  max-height: 8em;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.featured-jobs .jobs-card .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-jobs .jobs-card .location img {
  width: 1.2rem;
}

.featured-jobs .jobs-card .location .option {
  margin-left: 0.4rem;
  font-size: 0.85em;
}

.featured-jobs .jobs-card .location .option:last-child span {
  display: none;
}

.featured-jobs .jobs-card .divider {
  margin: 1.5rem 0 2rem 0;
  height: 0.12rem;
  width: 100%;
  background-color: #efefef;
}

.featured-jobs .jobs-card .date-bid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-jobs .jobs-card .date-bid .date {
  font-size: 0.85em;
}

.featured-jobs .jobs-card .date-bid .bid {
  padding: 0.6rem 1.2rem;
  background-color: #4c6fff;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 0.85em;
  cursor: pointer;
}

.get-started {
  padding: 5rem 0;
  background-color: #f7fafc;
}

.get-started h1 {
  font-weight: bold;
}

.get-started p {
  margin-top: 2rem;
  font-size: 1.1em;
}

.get-started button {
  margin-top: 2rem;
  padding: 0.7rem 1.4rem;
  background-color: #4aae8c;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 0.85em;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-started button img {
  margin-left: 0.7rem;
}

.connect-talent {
  padding: 5rem 0;
  margin: 0 auto;
  width: 85%;
}

.connect-talent .connect-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connect-talent .connect-row .right-talent {
  width: 50%;
}

.connect-talent .connect-row .right-talent h1 {
  font-weight: bold;
}

.connect-talent .connect-row .right-talent p {
  margin-top: 2rem;
  font-size: 1.1em;
}

.connect-talent .connect-row .right-talent button {
  margin-top: 2rem;
  padding: 0.7rem 1.4rem;
  background-color: #4aae8c;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 0.85em;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connect-talent .connect-row .right-talent button img {
  margin-left: 0.7rem;
}

.connect-talent .connect-row .cards {
  width: 40%;
}

.connect-talent .connect-row .cards .talent-card {
  margin: 1.5rem 0;
  padding: 1.3rem;
  -webkit-box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
          box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.1), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
  border-radius: 8px;
  cursor: pointer;
}

.connect-talent .connect-row .cards .talent-card .row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connect-talent .connect-row .cards .talent-card .row-item img {
  margin-right: 1rem;
}

.connect-talent .connect-row .cards .talent-card .row-item h4 {
  font-weight: bold;
}

.connect-talent .connect-row .cards .talent-card p {
  margin-top: 1rem;
  font-size: 1.06em;
}

.subscribe {
  padding: 4rem 0;
}

.subscribe .subscribe-border {
  width: 85%;
  margin: 0 auto;
  border: 0.1rem solid #bb65ff;
  border-radius: 1rem;
  padding: 3.7rem;
}

.subscribe .subscribe-border h2 {
  width: 50%;
  margin: 0 auto 2rem auto;
  text-transform: uppercase;
  font-weight: bolder;
}

.subscribe .subscribe-border .form-box {
  margin: 0 auto;
  width: 50%;
}

.subscribe .subscribe-border .form-box input {
  background: #edf2f7;
  padding: 0.6rem 1rem;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
}

.subscribe .subscribe-border .form-box input::-webkit-input-placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.subscribe .subscribe-border .form-box input:-ms-input-placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.subscribe .subscribe-border .form-box input::-ms-input-placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.subscribe .subscribe-border .form-box input::placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.subscribe .subscribe-border .form-box .btn-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .subscribe-border .form-box button {
  margin-top: 1.5rem;
  padding: 0.7rem 1.4rem;
  background-color: #00cc52;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 0.85em;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .subscribe-border .form-box button img {
  margin-left: 0.7rem;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .form {
  width: 50%;
}

.login-page .form form {
  width: 60%;
  margin: 0 auto;
}

.login-page .form form h1 {
  margin-bottom: 2rem;
  font-weight: bolder;
}

.login-page .form form input {
  background: #edf2f7;
  padding: 0.6rem 1rem;
  margin-top: 2rem;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
}

.login-page .form form input::-webkit-input-placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.login-page .form form input:-ms-input-placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.login-page .form form input::-ms-input-placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.login-page .form form input::placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.login-page .form form .forgot-password {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login-page .form form .forgot-password a {
  color: #315581;
  text-decoration: none;
}

.login-page .form form button {
  margin-top: 2.5rem;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background: #4272ac;
  -webkit-box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.1), inset 0px -1px 0px rgba(14, 14, 44, 0.4);
          box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.1), inset 0px -1px 0px rgba(14, 14, 44, 0.4);
  border-radius: 8px;
  padding: 0.6rem;
  border: none;
  font-size: 0.88em;
  letter-spacing: 1px;
  font-weight: bold;
}

.login-page .form form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .form form div .divider {
  width: 35%;
  height: 1px;
  background-color: #f5f4f7;
}

.login-page .form form div .or {
  margin: 2rem 0;
  color: #979da4;
}

.login-page .form form .multiple-sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .form form .multiple-sign-in .google-sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 0.8rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.login-page .form form .multiple-sign-in .google-sign-in img {
  margin-right: 0.5rem;
}

.login-page .form form .multiple-sign-in .apple-sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 0.8rem 1.2rem;
  background-color: #0B0706;
  color: #fff;
  cursor: pointer;
}

.login-page .form form .multiple-sign-in .apple-sign-in img {
  margin-right: 0.5rem;
}

.login-page .form form .new-to-ecojobz {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #979da4;
}

.login-page .form form .new-to-ecojobz a {
  margin-left: 1rem;
  color: #4272ac;
  text-decoration: none;
}

.login-page .image {
  width: 50%;
  height: 100vh;
}

.login-page .image img {
  width: 100%;
  height: 100%;
}

.footer-bg {
  padding: 4rem 0;
  background-color: #0B0706;
}

.footer-bg footer .description {
  margin-top: 1rem;
  color: #e5e5e5;
  font-size: 0.9em;
}

.footer-bg footer h4 {
  font-size: 1.07em;
  color: #fff;
}

.footer-bg footer .footer-link {
  display: block;
  margin: 0.7rem 0;
  font-size: 0.9em;
  color: #e5e5e5;
  text-decoration: none;
}

.footer-bg footer .social-media {
  margin-top: 2rem;
}

.footer-bg footer .social-media img {
  width: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .login-page .form {
    width: 50%;
  }
  .login-page .form form {
    width: 86%;
    margin: 0 auto;
  }
  .login-page .form form h1 {
    margin-bottom: 2rem;
  }
  .login-page .form form .forgot-password {
    margin-top: 1rem;
  }
  .login-page .form form div .divider {
    width: 35%;
    height: 1px;
  }
  .login-page .form form div .or {
    margin: 2rem 0;
  }
  .login-page .form form .get-started {
    margin-top: 2rem;
  }
  .login-page .image {
    width: 50%;
    height: 100vh;
  }
  .login-page .image img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  nav {
    padding: 2rem 0 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
  }
  nav .nav-item-container .logo-image {
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem);
  }
  nav .nav-item-container .logo-image img {
    width: 8rem;
  }
  nav .nav-item-container .nav-item-list {
    display: none;
  }
  .menu-btn {
    z-index: 150;
    position: fixed;
    right: 1rem;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger {
    width: 40px;
    height: 3px;
    background: #0B0706;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #0B0706;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .menu-btn__burger::after {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  /* ANIMATION */
  .menu-btn.active .menu-btn__burger {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu-btn.active .menu-btn__burger::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.active .menu-btn__burger::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
  }
  nav.active {
    display: block;
    padding: 0;
  }
  nav.active .nav-item-container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #fff;
    -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 40px;
            box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 40px;
    border-radius: 0.6rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: scroll;
  }
  nav.active .nav-item-container .logo-image {
    display: none;
  }
  nav.active .nav-item-container .nav-item-list {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    align-items: flex-start;
  }
  nav.active .nav-item-container .nav-item-list .nav-item .nav-link {
    font-size: 1em;
    cursor: pointer;
    margin: 1.4rem 0;
  }
  header {
    padding: 8rem 0 4rem 0;
    margin: 0 auto;
    width: 80%;
  }
  header .hero-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hero-row .intro {
    width: 100%;
  }
  header .hero-row .intro h1 {
    font-size: 2.2em;
  }
  header .hero-row .intro p {
    margin-top: 2rem;
  }
  header .hero-row .intro .row-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
  header .hero-row .intro .row-btn button {
    padding: 0.7rem 1.4rem;
    font-size: 0.85em;
  }
  header .hero-row .intro .row-btn button:last-child {
    margin-left: 1rem;
  }
  header .hero-row .eclipse {
    width: 100%;
    overflow: hidden;
  }
  header .hero-row .eclipse .hero-animation {
    overflow: hiddden;
    -webkit-animation: rotate 10s linear infinite;
            animation: rotate 10s linear infinite;
    position: relative;
    background-image: url("@/assets/icons/eclipse.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 22rem;
    margin: 4rem auto;
  }
  header .hero-row .eclipse .hero-animation img {
    width: 3rem;
    height: 3rem;
    -webkit-animation: anti-rotate 10s linear infinite;
            animation: anti-rotate 10s linear infinite;
  }
  header .hero-row .eclipse .hero-animation .place-holder-01 {
    position: absolute;
    top: 5%;
    left: 22%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-02 {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 60%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-03 {
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 40%;
    right: 5%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-04 {
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 3%;
    right: 40%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-05 {
    position: absolute;
    bottom: 15%;
    left: 15%;
  }
  .popular-category {
    padding: 5rem 0;
  }
  .how-we-work {
    padding: 5rem 0;
  }
  .how-we-work h1 {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
  }
  .how-we-work img {
    border-radius: 1rem;
  }
  .how-we-work .work-flow {
    margin: 1rem 0;
  }
  .how-we-work .work-flow .instruction h4,
  .how-we-work .work-flow .instruction h5 {
    font-weight: bold;
  }
  .how-we-work .work-flow .instruction p {
    line-height: 1.33rem;
    font-size: 0.83em;
  }
  .featured-jobs {
    padding: 5rem 0;
  }
  .featured-jobs h1 {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
  }
  .featured-jobs .jobs-card {
    padding: 1.5rem;
    margin: 0.8rem 0;
  }
  .featured-jobs .jobs-card .list-item .item {
    font-size: 0.85em;
  }
  .featured-jobs .jobs-card p {
    margin: 1.4rem 0;
    font-size: 0.85em;
    /**Major Properties**/
    overflow: hidden;
    line-height: 1.38rem;
    max-height: 8em;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }
  .featured-jobs .jobs-card .location img {
    width: 0.9rem;
  }
  .featured-jobs .jobs-card .location .option {
    margin-left: 0.4rem;
    font-size: 0.85em;
  }
  .featured-jobs .jobs-card .location .option:last-child span {
    display: none;
  }
  .featured-jobs .jobs-card .date-bid .date {
    font-size: 0.83em;
  }
  .featured-jobs .jobs-card .date-bid .bid {
    padding: 0.5rem 1rem;
    font-size: 0.83em;
  }
  .get-started {
    padding: 5rem 0;
  }
  .get-started h1 {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
  }
  .connect-talent {
    padding: 3rem 0;
    margin: 0 auto;
    width: 94%;
  }
  .connect-talent .connect-row .right-talent {
    width: 100%;
  }
  .connect-talent .connect-row .right-talent h1 {
    font-size: 2.2em;
  }
  .connect-talent .connect-row .right-talent p {
    margin-top: 2rem;
    font-size: 1em;
  }
  .connect-talent .connect-row .cards {
    margin-top: 2rem;
    width: 100%;
  }
  .connect-talent .connect-row .cards .talent-card h4 {
    font-size: 1.1em;
  }
  .connect-talent .connect-row .cards .talent-card p {
    font-size: 1em;
  }
  .subscribe {
    padding: 5rem 0;
  }
  .subscribe .subscribe-border {
    width: 87%;
    margin: 0 auto;
    padding: 2.7rem 1rem;
  }
  .subscribe .subscribe-border h2 {
    width: 66%;
    margin: 0 auto 2rem auto;
    font-size: 1.6em;
  }
  .subscribe .subscribe-border .form-box {
    margin: 0 auto;
    width: 70%;
  }
  .subscribe .subscribe-border .form-box input::-webkit-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input:-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box button {
    margin-top: 1.3rem;
    padding: 0.5rem 1.2rem;
    font-size: 0.83em;
    border: none;
  }
  .login-page {
    padding: 4rem 0;
  }
  .login-page .form {
    width: 100%;
  }
  .login-page .form form {
    width: 70%;
    margin: 0 auto;
  }
  .login-page .form form h1 {
    margin-bottom: 2rem;
  }
  .login-page .form form button {
    font-size: 0.8em;
  }
  .login-page .form form div .divider {
    width: 35%;
    height: 1px;
    background-color: #f5f4f7;
  }
  .login-page .form form div .or {
    margin: 2rem 0;
    color: #979da4;
    font-size: 0.89em;
  }
  .login-page .form form .multiple-sign-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .login-page .form form .multiple-sign-in .google-sign-in {
    padding: 0.8rem 1rem;
    font-size: 0.88em;
  }
  .login-page .form form .multiple-sign-in .apple-sign-in {
    padding: 0.8rem 1.2rem;
    font-size: 0.88em;
  }
  .login-page .form form .new-to-ecojobz {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #979da4;
  }
  .login-page .form form .new-to-ecojobz a {
    margin-left: 1rem;
    color: #4272ac;
    text-decoration: none;
  }
  .login-page .image {
    display: none;
  }
  footer .description {
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    font-size: 0.85em;
  }
  footer h4 {
    font-size: 1.1em;
    margin-top: 2rem;
  }
  footer .footer-link {
    display: block;
    margin: 0.7rem 0;
    font-size: 0.85em;
  }
  footer .social-media {
    margin-top: 2rem;
  }
  footer .social-media img {
    width: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 7rem 0 4rem 0;
    margin: 0 auto;
    width: 88%;
  }
  header .hero-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hero-row .intro {
    width: 100%;
  }
  header .hero-row .intro h1 {
    font-size: 2.2em;
  }
  header .hero-row .intro p {
    margin-top: 2rem;
  }
  header .hero-row .intro .row-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
  header .hero-row .intro .row-btn button {
    padding: 0.7rem 1.4rem;
    font-size: 0.85em;
  }
  header .hero-row .intro .row-btn button:last-child {
    margin-left: 1rem;
  }
  header .hero-row .eclipse {
    width: 100%;
    overflow: hidden;
  }
  header .hero-row .eclipse .hero-animation {
    overflow: hiddden;
    -webkit-animation: rotate 10s linear infinite;
            animation: rotate 10s linear infinite;
    position: relative;
    background-image: url("@/assets/icons/eclipse.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 22rem;
    margin: 4rem auto;
  }
  header .hero-row .eclipse .hero-animation img {
    width: 3rem;
    height: 3rem;
    -webkit-animation: anti-rotate 10s linear infinite;
            animation: anti-rotate 10s linear infinite;
  }
  header .hero-row .eclipse .hero-animation .place-holder-01 {
    position: absolute;
    top: 5%;
    left: 22%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-02 {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 60%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-03 {
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 40%;
    right: 5%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-04 {
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 3%;
    right: 40%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-05 {
    position: absolute;
    bottom: 15%;
    left: 15%;
  }
  .popular-category {
    padding: 4rem 0;
  }
  .popular-category h1 {
    font-size: 1.6em;
    font-weight: bolder;
    margin-bottom: 3rem;
  }
  .popular-category .popular-card h3 {
    font-size: 1.3em;
  }
  .how-we-work {
    padding: 3rem 0;
  }
  .how-we-work h1 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .how-we-work img {
    border-radius: 1rem;
  }
  .how-we-work .work-flow {
    margin: 1rem 0;
  }
  .how-we-work .work-flow .instruction h4,
  .how-we-work .work-flow .instruction h5 {
    font-weight: bold;
  }
  .how-we-work .work-flow .instruction p {
    line-height: 1.33rem;
    font-size: 0.83em;
  }
  .featured-jobs {
    padding: 3rem 0;
  }
  .featured-jobs h1 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .featured-jobs .jobs-card {
    padding: 1.5rem;
    margin: 0.8rem 0;
  }
  .featured-jobs .jobs-card .list-item .item {
    font-size: 0.85em;
  }
  .featured-jobs .jobs-card p {
    margin: 1.4rem 0;
    font-size: 0.85em;
    /**Major Properties**/
    overflow: hidden;
    line-height: 1.38rem;
    max-height: 8em;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }
  .featured-jobs .jobs-card .location img {
    width: 0.9rem;
  }
  .featured-jobs .jobs-card .location .option {
    margin-left: 0.4rem;
    font-size: 0.85em;
  }
  .featured-jobs .jobs-card .location .option:last-child span {
    display: none;
  }
  .featured-jobs .jobs-card .date-bid .date {
    font-size: 0.83em;
  }
  .featured-jobs .jobs-card .date-bid .bid {
    padding: 0.5rem 1rem;
    font-size: 0.83em;
  }
  .get-started {
    padding: 3rem 0;
  }
  .get-started h1 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .connect-talent {
    padding: 3rem 0;
    margin: 0 auto;
    width: 94%;
  }
  .connect-talent .connect-row .right-talent {
    width: 100%;
  }
  .connect-talent .connect-row .right-talent h1 {
    font-size: 1.6em;
  }
  .connect-talent .connect-row .right-talent p {
    margin-top: 2rem;
    font-size: 1em;
  }
  .connect-talent .connect-row .cards {
    margin-top: 2rem;
    width: 100%;
  }
  .connect-talent .connect-row .cards .talent-card h4 {
    font-size: 1.1em;
  }
  .connect-talent .connect-row .cards .talent-card p {
    font-size: 1em;
  }
  .subscribe {
    padding: 3rem 0;
  }
  .subscribe .subscribe-border {
    width: 87%;
    margin: 0 auto;
    padding: 2.7rem 1rem;
  }
  .subscribe .subscribe-border h2 {
    width: 70%;
    margin: 0 auto 2rem auto;
    font-size: 1.2em;
  }
  .subscribe .subscribe-border .form-box {
    margin: 0 auto;
    width: 80%;
  }
  .subscribe .subscribe-border .form-box input::-webkit-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input:-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box button {
    margin-top: 1.3rem;
    padding: 0.5rem 1.2rem;
    font-size: 0.83em;
    border: none;
  }
  footer .description {
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    font-size: 0.85em;
  }
  footer h4 {
    font-size: 1.1em;
    margin-top: 2rem;
  }
  footer .footer-link {
    display: block;
    margin: 0.7rem 0;
    font-size: 0.85em;
  }
  footer .social-media {
    margin-top: 2rem;
  }
  footer .social-media img {
    width: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  nav {
    padding: 1.5rem 0 1rem 0;
  }
  nav .nav-item-container .logo-image {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  nav .nav-item-container .logo-image img {
    width: 7rem;
  }
  nav .nav-item-container .nav-item-list {
    display: none;
  }
  header {
    padding: 7rem 0 2rem 0;
    margin: 0 auto;
    width: 94%;
  }
  header .hero-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hero-row .intro {
    width: 100%;
  }
  header .hero-row .intro h1 {
    font-size: 1.6em;
    text-align: center;
  }
  header .hero-row .intro p {
    margin-top: 2rem;
    font-size: 1em;
    text-align: center;
  }
  header .hero-row .intro .row-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
  header .hero-row .intro .row-btn button {
    padding: 0.7rem 1.4rem;
    font-size: 0.85em;
  }
  header .hero-row .intro .row-btn button:last-child {
    margin-left: 1rem;
  }
  header .hero-row .eclipse {
    width: 100%;
    overflow: hidden;
  }
  header .hero-row .eclipse .hero-animation {
    overflow: hiddden;
    -webkit-animation: rotate 10s linear infinite;
            animation: rotate 10s linear infinite;
    position: relative;
    background-image: url("@/assets/icons/eclipse.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 22rem;
    margin: 0rem auto 3rem auto;
  }
  header .hero-row .eclipse .hero-animation img {
    width: 3rem;
    height: 3rem;
    -webkit-animation: anti-rotate 10s linear infinite;
            animation: anti-rotate 10s linear infinite;
  }
  header .hero-row .eclipse .hero-animation .place-holder-01 {
    position: absolute;
    top: 5%;
    left: 22%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-02 {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 60%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-03 {
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 40%;
    right: 5%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-04 {
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 3%;
    right: 40%;
  }
  header .hero-row .eclipse .hero-animation .place-holder-05 {
    position: absolute;
    bottom: 15%;
    left: 15%;
  }
  .popular-category {
    padding: 2rem 0 3rem 0;
  }
  .popular-category h1 {
    font-size: 1.6em;
    font-weight: bolder;
    margin-bottom: 3rem;
  }
  .popular-category .popular-card h3 {
    font-size: 1.3em;
  }
  .how-we-work {
    padding: 3rem 0;
  }
  .how-we-work h1 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .how-we-work img {
    border-radius: 1rem;
  }
  .how-we-work .work-flow {
    margin: 1rem 0;
  }
  .how-we-work .work-flow .instruction h4,
  .how-we-work .work-flow .instruction h5 {
    font-weight: bold;
  }
  .how-we-work .work-flow .instruction p {
    line-height: 1.33rem;
    font-size: 0.83em;
  }
  .featured-jobs {
    padding: 3rem 0;
  }
  .featured-jobs h1 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .featured-jobs .jobs-card {
    padding: 1.5rem;
    margin: 0.8rem 0;
  }
  .featured-jobs .jobs-card .list-item .item {
    font-size: 0.8em;
  }
  .featured-jobs .jobs-card p {
    margin: 1.4rem 0;
    font-size: 0.85em;
    /**Major Properties**/
    overflow: hidden;
    line-height: 1.38rem;
    max-height: 8em;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }
  .featured-jobs .jobs-card .location img {
    width: 0.9rem;
  }
  .featured-jobs .jobs-card .location .option {
    margin-left: 0.4rem;
    font-size: 0.8em;
  }
  .featured-jobs .jobs-card .location .option:last-child span {
    display: none;
  }
  .featured-jobs .jobs-card .date-bid .date {
    font-size: 0.83em;
  }
  .featured-jobs .jobs-card .date-bid .bid {
    padding: 0.5rem 1rem;
    font-size: 0.83em;
  }
  .get-started {
    padding: 3rem 0;
  }
  .get-started h1 {
    font-size: 1.3em;
    margin-bottom: 1.5rem;
  }
  .get-started p {
    font-size: 1em;
  }
  .connect-talent {
    padding: 3rem 0;
    margin: 0 auto;
    width: 94%;
  }
  .connect-talent .connect-row .right-talent {
    width: 100%;
  }
  .connect-talent .connect-row .right-talent h1 {
    font-size: 1.3em;
  }
  .connect-talent .connect-row .right-talent p {
    margin-top: 2rem;
    font-size: 1em;
  }
  .connect-talent .connect-row .cards {
    margin-top: 2rem;
    width: 100%;
  }
  .connect-talent .connect-row .cards .talent-card h4 {
    font-size: 1.1em;
  }
  .connect-talent .connect-row .cards .talent-card p {
    font-size: 1em;
  }
  .subscribe {
    padding: 3rem 0;
  }
  .subscribe .subscribe-border {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  .subscribe .subscribe-border h2 {
    width: 96%;
    margin: 0 auto 2rem auto;
    font-size: 1.2em;
  }
  .subscribe .subscribe-border .form-box {
    margin: 0 auto;
    width: 94%;
  }
  .subscribe .subscribe-border .form-box input::-webkit-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input:-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box button {
    margin-top: 1.3rem;
    padding: 0.5rem 1.2rem;
    font-size: 0.83em;
    border: none;
  }
  .login-page {
    padding: 4rem 0;
  }
  .login-page .form {
    width: 100%;
  }
  .login-page .form form {
    width: 90%;
    margin: 0 auto;
  }
  .login-page .form form h1 {
    margin-bottom: 2rem;
  }
  .login-page .form form button {
    font-size: 0.8em;
  }
  .login-page .form form div .divider {
    width: 35%;
    height: 1px;
    background-color: #f5f4f7;
  }
  .login-page .form form div .or {
    margin: 2rem 0;
    color: #979da4;
    font-size: 0.89em;
  }
  .login-page .form form .multiple-sign-in .google-sign-in {
    padding: 0.8rem 0.7rem;
    font-size: 0.8em;
  }
  .login-page .form form .multiple-sign-in .google-sign-in img {
    margin-right: 0.3rem;
  }
  .login-page .form form .multiple-sign-in .apple-sign-in {
    padding: 0.8rem 0.7rem;
    font-size: 0.8em;
  }
  .login-page .form form .multiple-sign-in .apple-sign-in img {
    margin-right: 0.3rem;
  }
  .login-page .form form .new-to-ecojobz {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #979da4;
  }
  .login-page .form form .new-to-ecojobz a {
    margin-left: 1rem;
    color: #4272ac;
    text-decoration: none;
  }
  .login-page .image {
    display: none;
  }
  .footer-bg {
    padding: 3rem 0;
  }
  .footer-bg footer .footer-logo img {
    width: 8rem;
  }
  .footer-bg footer .description {
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    font-size: 0.85em;
  }
  .footer-bg footer h4 {
    font-size: 1.1em;
    margin-top: 2rem;
  }
  .footer-bg footer .footer-link {
    display: block;
    margin: 0.7rem 0;
    font-size: 0.85em;
  }
  .footer-bg footer .social-media {
    margin-top: 2rem;
  }
  .footer-bg footer .social-media img {
    width: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */