/* Description: Master CSS file */
/*****************************************
Table Of Contents:
- Css Reset
- Colors
- Mixins
- Font
- General Styles
- Services
- About Us
- Latest News
- Our Approach
- Contact Us
- Contact Page
- Footer
- Media Queries
******************************************/
/*****************************************

******************************************/
/**********************/
/*     Font    */
/**********************/
@font-face {
  src: url("@/assets/fonts/GT-America-Regular.ttf") format("truetype");
  font-family: "GT-America";
}

@font-face {
  src: url("@/assets/fonts/GeneralSans-Regular.otf") format("truetype");
  font-family: "GeneralSans";
}

@font-face {
  src: url("@/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-family: "Poppins";
}

@font-face {
  src: url("@/assets/fonts/DMSans-Regular.ttf") format("truetype");
  font-family: "DmSans";
}

@font-face {
  src: url("@/assets/fonts/WorkSans-Regular.ttf") format("truetype");
  font-family: "WorkSans";
}

@font-face {
  src: url("/assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-family: "SpaceGrostesk";
}

/**************************/
/*        Css Reset       */
/**************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "GT-America";
  list-style: none;
}

/**********************/
/*       Colors       */
/**********************/
/**********************/
/*       Mixins       */
/**********************/
/**********************/
/*   General Styles   */
/**********************/
nav {
  padding: 2rem 0 1rem 0;
  -webkit-box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 26px;
          box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 26px;
}

nav .nav-item-container {
  width: 87%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav-item-container .nav-item-list {
  -webkit-transform: translateY(0.7rem);
          transform: translateY(0.7rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav-item-container .nav-item-list .nav-item .nav-link {
  font-size: 1em;
  color: #0A0A0A;
  cursor: pointer;
  margin-left: 3rem;
}

nav .nav-item-container .nav-item-list .nav-item:nth-of-type(4) {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

nav .nav-item-container .nav-item-list .nav-item:nth-of-type(4) .nav-link {
  font-size: 1em;
  color: #0A0A0A;
  cursor: pointer;
  background-color: #e4ecf7;
  padding: 0.5rem 1.4rem;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-item-container .nav-item-list .nav-item:nth-of-type(4) .nav-link span {
  margin-right: 0.5rem;
}

nav .nav-item-container .menu-btn {
  display: none;
}

header {
  padding: 7rem 0;
  margin: 0 auto;
  width: 85%;
}

header h1 {
  font-size: 5em;
}

.gallery {
  position: relative;
  max-width: 85%;
  margin: 0 auto;
  padding: 0 10;
}

.gallery_scroller {
  /* snap mandatory on horizontal axis  */
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Enable Safari touch scrolling physics which is needed for scroll snap */
  -webkit-overflow-scrolling: touch;
}

.gallery_scroller {
  -ms-overflow-style: none;
}

.gallery_scroller::-webkit-scrollbar {
  display: none;
}

.gallery_scroller img {
  /* snap align center  */
  scroll-snap-align: center;
  margin: 10px;
  position: relative;
  border-radius: 10px;
}

.gallery .btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}

.gallery .btn.next {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M25.557 14.7L13.818 2.961 16.8 0l16.8 16.8-16.8 16.8-2.961-2.961L25.557 18.9H0v-4.2z" fill="%23FFF" fill-rule="evenodd"/></svg>');
  right: 10px;
}

.gallery .btn.prev {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M33.6 14.7H8.043L19.782 2.961 16.8 0 0 16.8l16.8 16.8 2.961-2.961L8.043 18.9H33.6z" fill="%23FFF" fill-rule="evenodd"/></svg>');
  left: 10px;
}

.featured-jobs {
  padding: 7rem 0;
}

.featured-jobs h1 {
  font-size: 3.2em;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.featured-jobs .jobs-card {
  padding: 1.8rem;
  background-color: #fff;
  -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 40px;
          box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 40px;
  border-radius: 0.6rem;
  margin: 0.8rem 0;
}

.featured-jobs .jobs-card .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured-jobs .jobs-card .list-item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  padding: 0.55rem 0.8rem;
  background-color: #e4edfc;
  border-radius: 2rem;
  font-size: 0.85em;
}

.featured-jobs .jobs-card .list-item .item .icon {
  background-image: url("@/assets/icons/cancel-green.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.featured-jobs .jobs-card .list-item .item:nth-child(even) {
  background: rgba(255, 173, 186, 0.5);
}

.featured-jobs .jobs-card .list-item .item:nth-child(even) .icon {
  background-image: url("@/assets/icons/cancel-red.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.featured-jobs .jobs-card p {
  margin: 2rem 0;
  width: 100%;
  font-size: 0.94em;
  /**Major Properties**/
  overflow: hidden;
  line-height: 1.38rem;
  max-height: 8em;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.featured-jobs .jobs-card .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-jobs .jobs-card .location img {
  width: 1.2rem;
}

.featured-jobs .jobs-card .location .option {
  margin-left: 0.4rem;
  font-size: 0.85em;
}

.featured-jobs .jobs-card .location .option:last-child span {
  display: none;
}

.featured-jobs .jobs-card .divider {
  margin: 1.5rem 0 2rem 0;
  height: 0.12rem;
  width: 100%;
  background-color: #efefef;
}

.featured-jobs .jobs-card .date-bid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-jobs .jobs-card .date-bid .date {
  font-size: 0.85em;
}

.featured-jobs .jobs-card .date-bid .bid {
  padding: 0.6rem 1.2rem;
  background-color: #4c6fff;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 0.85em;
  cursor: pointer;
}

.how-we-work {
  padding: 7rem 0;
}

.how-we-work h1 {
  font-size: 3.2em;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.how-we-work img {
  border-radius: 1rem;
}

.how-we-work .work-flow {
  margin: 1.4rem 0;
}

.how-we-work .work-flow .instruction h4,
.how-we-work .work-flow .instruction h5 {
  font-weight: bold;
}

.how-we-work .work-flow .instruction p {
  line-height: 1.33rem;
  font-size: 0.86em;
}

.get-reviewed {
  padding: 5rem 0;
  background-color: #f3f5f6;
}

.get-reviewed h1 {
  font-size: 3.2em;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.get-reviewed .review-blur {
  position: relative;
  height: 42rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.get-reviewed .review-blur .blur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 245, 246, 0)), to(#f3f5f6));
  background: linear-gradient(180deg, rgba(243, 245, 246, 0) 0%, #f3f5f6 100%);
}

.get-reviewed .review-card {
  padding: 1.1rem;
  margin: 0.78rem 0;
  background-color: #fff;
  border-radius: 0.8rem;
}

.get-reviewed .review-card .img-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-reviewed .review-card .img-name img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.get-reviewed .review-card .img-name div .name {
  color: #6f1df4;
  font-size: 0.83em;
}

.get-reviewed .review-card .img-name div .username {
  color: rgba(60, 60, 67, 0.5);
  font-size: 0.83em;
}

.get-reviewed .review-card p {
  font-size: 0.86em;
  margin-top: 0.7rem;
}

.get-reviewed .review-card .link-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-reviewed .review-card .link-date .link {
  font-size: 0.83em;
  color: rgba(60, 60, 67, 0.5);
}

.get-reviewed .review-card .link-date .date {
  font-size: 0.83em;
  color: rgba(60, 60, 67, 0.5);
}

.get-reviewed .large-button {
  margin-top: 2rem;
}

.get-reviewed .large-button button {
  padding: 0.6rem 1.2rem;
  border: 1px solid #4c6fff;
  border-radius: 8px;
  color: #4c6fff;
  font-size: 0.85em;
}

.subscribe {
  padding: 4rem 0;
}

.subscribe .subscribe-border {
  width: 85%;
  margin: 0 auto;
  border: 0.1rem solid #bb65ff;
  border-radius: 1rem;
  padding: 3.7rem;
}

.subscribe .subscribe-border h2 {
  width: 50%;
  margin: 0 auto 2rem auto;
  text-transform: uppercase;
  font-weight: bolder;
}

.subscribe .subscribe-border .form-box {
  margin: 0 auto;
  width: 50%;
}

.subscribe .subscribe-border .form-box input {
  background: #edf2f7;
  padding: 0.6rem 1rem;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
}

.subscribe .subscribe-border .form-box input::-webkit-input-placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.subscribe .subscribe-border .form-box input:-ms-input-placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.subscribe .subscribe-border .form-box input::-ms-input-placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.subscribe .subscribe-border .form-box input::placeholder {
  color: #7a828a;
  font-size: 0.88em;
}

.subscribe .subscribe-border .form-box button {
  margin-top: 1.5rem;
  padding: 0.7rem 1.4rem;
  background-color: #4c6fff;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 0.85em;
  border: none;
}

.footer-bg {
  padding: 4rem 0;
  background-color: #0B0706;
}

.footer-bg footer .description {
  margin-top: 1rem;
  color: #e5e5e5;
  font-size: 0.9em;
}

.footer-bg footer h4 {
  font-size: 1.07em;
  color: #fff;
}

.footer-bg footer .footer-link {
  display: block;
  margin: 0.7rem 0;
  font-size: 0.9em;
  color: #e5e5e5;
  text-decoration: none;
}

.footer-bg footer .social-media {
  margin-top: 2rem;
}

.footer-bg footer .social-media img {
  width: 1.5rem;
}

@media screen and (max-width: 992px) {
  nav {
    padding: 2rem 0 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
  }
  nav .nav-item-container .logo-image {
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem);
  }
  nav .nav-item-container .logo-image img {
    width: 8rem;
  }
  nav .nav-item-container .nav-item-list {
    display: none;
  }
  .menu-btn {
    z-index: 150;
    position: fixed;
    right: 1rem;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger {
    width: 27px;
    height: 3px;
    background: #0B0706;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #0B0706;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .menu-btn__burger::after {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  /* ANIMATION */
  .menu-btn.active .menu-btn__burger {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu-btn.active .menu-btn__burger::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.active .menu-btn__burger::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
  }
  nav.active {
    display: block;
    padding: 0;
  }
  nav.active .nav-item-container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #fff;
    -webkit-box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 40px;
            box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 40px;
    border-radius: 0.6rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: scroll;
  }
  nav.active .nav-item-container .logo-image {
    display: none;
  }
  nav.active .nav-item-container .nav-item-list {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    align-items: flex-start;
  }
  nav.active .nav-item-container .nav-item-list .nav-item .nav-link {
    font-size: 1em;
    cursor: pointer;
    margin: 1.4rem 0;
  }
  header {
    padding: 8rem 0 4rem 0;
    margin: 0 auto;
    width: 80%;
  }
  header h1 {
    font-size: 2.2em;
  }
  header h1 img {
    width: 4rem;
  }
  .featured-jobs {
    padding: 5rem 0;
  }
  .featured-jobs h1 {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
  }
  .featured-jobs .jobs-card {
    padding: 1.5rem;
    margin: 0.8rem 0;
  }
  .featured-jobs .jobs-card .list-item .item {
    font-size: 0.85em;
  }
  .featured-jobs .jobs-card p {
    margin: 1.4rem 0;
    font-size: 0.85em;
    /**Major Properties**/
    overflow: hidden;
    line-height: 1.38rem;
    max-height: 8em;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }
  .featured-jobs .jobs-card .location img {
    width: 0.9rem;
  }
  .featured-jobs .jobs-card .location .option {
    margin-left: 0.4rem;
    font-size: 0.85em;
  }
  .featured-jobs .jobs-card .location .option:last-child span {
    display: none;
  }
  .featured-jobs .jobs-card .date-bid .date {
    font-size: 0.83em;
  }
  .featured-jobs .jobs-card .date-bid .bid {
    padding: 0.5rem 1rem;
    font-size: 0.83em;
  }
  .how-we-work {
    padding: 5rem 0;
  }
  .how-we-work h1 {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
  }
  .how-we-work img {
    border-radius: 1rem;
  }
  .how-we-work .work-flow {
    margin: 1rem 0;
  }
  .how-we-work .work-flow .instruction h4,
  .how-we-work .work-flow .instruction h5 {
    font-weight: bold;
  }
  .how-we-work .work-flow .instruction p {
    line-height: 1.33rem;
    font-size: 0.83em;
  }
  .get-reviewed {
    padding: 5rem 0;
  }
  .get-reviewed h1 {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
  }
  .get-reviewed .review-blur {
    position: relative;
    height: 46rem;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .get-reviewed .review-blur .blur {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 245, 246, 0)), to(#f3f5f6));
    background: linear-gradient(180deg, rgba(243, 245, 246, 0) 0%, #f3f5f6 100%);
  }
  .get-reviewed .review-card {
    padding: 1.1rem;
  }
  .get-reviewed .review-card .img-name div .name {
    font-size: 0.85em;
  }
  .get-reviewed .review-card .img-name div .username {
    font-size: 0.85em;
  }
  .get-reviewed .review-card p {
    font-size: 0.85em;
    margin-top: 0.7rem;
  }
  .get-reviewed .review-card .link-date .link {
    font-size: 0.83em;
  }
  .get-reviewed .review-card .link-date .date {
    font-size: 0.83em;
  }
  .get-reviewed .large-button {
    margin-top: 1rem;
  }
  .get-reviewed .large-button button {
    padding: 0.7rem 1.3rem;
    font-size: 0.83em;
  }
  .subscribe {
    padding: 5rem 0;
  }
  .subscribe .subscribe-border {
    width: 87%;
    margin: 0 auto;
    padding: 2.7rem 1rem;
  }
  .subscribe .subscribe-border h2 {
    width: 66%;
    margin: 0 auto 2rem auto;
    font-size: 1.6em;
  }
  .subscribe .subscribe-border .form-box {
    margin: 0 auto;
    width: 70%;
  }
  .subscribe .subscribe-border .form-box input::-webkit-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input:-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box button {
    margin-top: 1.3rem;
    padding: 0.5rem 1.2rem;
    font-size: 0.83em;
    border: none;
  }
  footer .description {
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    font-size: 0.85em;
  }
  footer h4 {
    font-size: 1.1em;
    margin-top: 2rem;
  }
  footer .footer-link {
    display: block;
    margin: 0.7rem 0;
    font-size: 0.85em;
  }
  footer .social-media {
    margin-top: 2rem;
  }
  footer .social-media img {
    width: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 4rem 0;
    margin: 0 auto;
    width: 88%;
  }
  header h1 {
    font-size: 2.2em;
  }
  header h1 img {
    width: 3.5rem;
  }
  .featured-jobs {
    padding: 3rem 0;
  }
  .featured-jobs h1 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .featured-jobs .jobs-card {
    padding: 1.5rem;
    margin: 0.8rem 0;
  }
  .featured-jobs .jobs-card .list-item .item {
    font-size: 0.85em;
  }
  .featured-jobs .jobs-card p {
    margin: 1.4rem 0;
    font-size: 0.85em;
    /**Major Properties**/
    overflow: hidden;
    line-height: 1.38rem;
    max-height: 8em;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }
  .featured-jobs .jobs-card .location img {
    width: 0.9rem;
  }
  .featured-jobs .jobs-card .location .option {
    margin-left: 0.4rem;
    font-size: 0.85em;
  }
  .featured-jobs .jobs-card .location .option:last-child span {
    display: none;
  }
  .featured-jobs .jobs-card .date-bid .date {
    font-size: 0.83em;
  }
  .featured-jobs .jobs-card .date-bid .bid {
    padding: 0.5rem 1rem;
    font-size: 0.83em;
  }
  .how-we-work {
    padding: 3rem 0;
  }
  .how-we-work h1 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .how-we-work img {
    border-radius: 1rem;
  }
  .how-we-work .work-flow {
    margin: 1rem 0;
  }
  .how-we-work .work-flow .instruction h4,
  .how-we-work .work-flow .instruction h5 {
    font-weight: bold;
  }
  .how-we-work .work-flow .instruction p {
    line-height: 1.33rem;
    font-size: 0.83em;
  }
  .get-reviewed {
    padding: 3rem 0;
  }
  .get-reviewed h1 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .get-reviewed .review-blur {
    position: relative;
    height: 46rem;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .get-reviewed .review-blur .blur {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 245, 246, 0)), to(#f3f5f6));
    background: linear-gradient(180deg, rgba(243, 245, 246, 0) 0%, #f3f5f6 100%);
  }
  .get-reviewed .review-card {
    padding: 1.1rem;
  }
  .get-reviewed .review-card .img-name div .name {
    font-size: 0.85em;
  }
  .get-reviewed .review-card .img-name div .username {
    font-size: 0.85em;
  }
  .get-reviewed .review-card p {
    font-size: 0.85em;
    margin-top: 0.7rem;
  }
  .get-reviewed .review-card .link-date .link {
    font-size: 0.83em;
  }
  .get-reviewed .review-card .link-date .date {
    font-size: 0.83em;
  }
  .get-reviewed .large-button {
    margin-top: 1rem;
  }
  .get-reviewed .large-button button {
    padding: 0.7rem 1.3rem;
    font-size: 0.83em;
  }
  .subscribe {
    padding: 3rem 0;
  }
  .subscribe .subscribe-border {
    width: 87%;
    margin: 0 auto;
    padding: 2.7rem 1rem;
  }
  .subscribe .subscribe-border h2 {
    width: 70%;
    margin: 0 auto 2rem auto;
    font-size: 1.2em;
  }
  .subscribe .subscribe-border .form-box {
    margin: 0 auto;
    width: 80%;
  }
  .subscribe .subscribe-border .form-box input::-webkit-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input:-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box button {
    margin-top: 1.3rem;
    padding: 0.5rem 1.2rem;
    font-size: 0.83em;
    border: none;
  }
  footer .description {
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    font-size: 0.85em;
  }
  footer h4 {
    font-size: 1.1em;
    margin-top: 2rem;
  }
  footer .footer-link {
    display: block;
    margin: 0.7rem 0;
    font-size: 0.85em;
  }
  footer .social-media {
    margin-top: 2rem;
  }
  footer .social-media img {
    width: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  nav {
    padding: 1.5rem 0 1rem 0;
  }
  nav .nav-item-container .logo-image {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  nav .nav-item-container .logo-image img {
    width: 7rem;
  }
  nav .nav-item-container .nav-item-list {
    display: none;
  }
  header {
    padding: 7rem 0 3rem 0;
    margin: 0 auto;
    width: 94%;
  }
  header h1 {
    font-size: 1.6em;
  }
  header h1 img {
    width: 2.7rem;
  }
  .featured-jobs {
    padding: 3rem 0;
  }
  .featured-jobs h1 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .featured-jobs .jobs-card {
    padding: 1.5rem;
    margin: 0.8rem 0;
  }
  .featured-jobs .jobs-card .list-item .item {
    font-size: 0.8em;
  }
  .featured-jobs .jobs-card p {
    margin: 1.4rem 0;
    font-size: 0.85em;
    /**Major Properties**/
    overflow: hidden;
    line-height: 1.38rem;
    max-height: 8em;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }
  .featured-jobs .jobs-card .location img {
    width: 0.9rem;
  }
  .featured-jobs .jobs-card .location .option {
    margin-left: 0.4rem;
    font-size: 0.8em;
  }
  .featured-jobs .jobs-card .location .option:last-child span {
    display: none;
  }
  .featured-jobs .jobs-card .date-bid .date {
    font-size: 0.83em;
  }
  .featured-jobs .jobs-card .date-bid .bid {
    padding: 0.5rem 1rem;
    font-size: 0.83em;
  }
  .how-we-work {
    padding: 3rem 0;
  }
  .how-we-work h1 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .how-we-work img {
    border-radius: 1rem;
  }
  .how-we-work .work-flow {
    margin: 1rem 0;
  }
  .how-we-work .work-flow .instruction h4,
  .how-we-work .work-flow .instruction h5 {
    font-weight: bold;
  }
  .how-we-work .work-flow .instruction p {
    line-height: 1.33rem;
    font-size: 0.83em;
  }
  .get-reviewed {
    padding: 3rem 0;
  }
  .get-reviewed h1 {
    font-size: 1.6em;
    margin-bottom: 1.5rem;
  }
  .get-reviewed .review-blur {
    position: relative;
    height: 46rem;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .get-reviewed .review-blur .blur {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 245, 246, 0)), to(#f3f5f6));
    background: linear-gradient(180deg, rgba(243, 245, 246, 0) 0%, #f3f5f6 100%);
  }
  .get-reviewed .review-card {
    padding: 1.1rem;
  }
  .get-reviewed .review-card .img-name div .name {
    font-size: 0.85em;
  }
  .get-reviewed .review-card .img-name div .username {
    font-size: 0.85em;
  }
  .get-reviewed .review-card p {
    font-size: 0.85em;
    margin-top: 0.7rem;
  }
  .get-reviewed .review-card .link-date .link {
    font-size: 0.83em;
  }
  .get-reviewed .review-card .link-date .date {
    font-size: 0.83em;
  }
  .get-reviewed .large-button {
    margin-top: 1rem;
  }
  .get-reviewed .large-button button {
    padding: 0.7rem 1.3rem;
    font-size: 0.83em;
  }
  .subscribe {
    padding: 3rem 0;
  }
  .subscribe .subscribe-border {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  .subscribe .subscribe-border h2 {
    width: 96%;
    margin: 0 auto 2rem auto;
    font-size: 1.2em;
  }
  .subscribe .subscribe-border .form-box {
    margin: 0 auto;
    width: 94%;
  }
  .subscribe .subscribe-border .form-box input::-webkit-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input:-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::-ms-input-placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box input::placeholder {
    font-size: 0.85em;
  }
  .subscribe .subscribe-border .form-box button {
    margin-top: 1.3rem;
    padding: 0.5rem 1.2rem;
    font-size: 0.83em;
    border: none;
  }
  .footer-bg {
    padding: 3rem 0;
  }
  .footer-bg footer .footer-logo img {
    width: 8rem;
  }
  .footer-bg footer .description {
    margin-top: 1rem;
    margin-bottom: 1.4rem;
    font-size: 0.85em;
  }
  .footer-bg footer h4 {
    font-size: 1.1em;
    margin-top: 2rem;
  }
  .footer-bg footer .footer-link {
    display: block;
    margin: 0.7rem 0;
    font-size: 0.85em;
  }
  .footer-bg footer .social-media {
    margin-top: 2rem;
  }
  .footer-bg footer .social-media img {
    width: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */